body {
    background-image: url("https://pbs.twimg.com/media/EUZbHlbUEAANCyD.jpg:large");
    
   background-color: gold;
   
    background-size: auto;
    
}


.btn {
    background-color: rgb(255, 227, 68);
    color: dimgray;
}
table, th, td {
    
    font-size: 20px;
  }

  .card{
      margin-top: 50px;
  }